[submodule "test/bats"]
	path = test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "test/helper/bats-support"]
	path = test/helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "test/helper/bats-assert"]
	path = test/helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "docs/themes/hugo-theme-relearn"]
	path = docs/themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn
