name: Publish Docker Images

on:
  push:
    branches: [ main ]
    paths:
      # Paths that trigger a docker image build
      - '.github/workflows/docker-build.yml'
      - 'Dockerfile'

jobs:
  build:
    name: Build THT release
    runs-on: ubuntu-latest

    steps:
    - 
      name: Checkout code
      uses: actions/checkout@v2
    # - 
    #   name: Set up QEMU # used for arm64 builds
    #   uses: docker/setup-qemu-action@v1
    -
      name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v1
    -
      name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}
    -
      name: Cache Docker layers
      uses: actions/cache@v2.1.4
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx
        restore-keys: |
          ${{ runner.os }}-buildx
    - 
      name: Build and push
      uses: docker/build-push-action@v2
      with:
        platforms: linux/amd64 #,linux/arm64,linux/arm/v7
        tags: ethack/tht:latest
        build-args: MAXMIND_LICENSE=${{ secrets.MAXMIND_LICENSE }}
        push: true
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,mode=max,dest=/tmp/.buildx-cache
